<h1 class="text-center">Neuen Patient*in anlegen</h1>
<% if params[:patient_id] %>
<h4>für <%=Patient.find(@patient_id.id).first_name + " " + Patient.find(@patient_id.id).last_name + " auf der Station: " + Patient.find(@patient_id.id).station%>
  <%= " Zimmer: " + Patient.find(@patient_id.id).room_nr %>
</h4>
<% end %> 

<%= render  "form" %>